<<<<<<< HEAD
.headline {
    font-family: 'Open Sans', sans-serif;
    font-size:25px;
    color:dimgray;
    font-weight:300;
}

.bio-description {
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    color:dimgray;
}

.bio {
    margin: 0 auto;
    width:80%;
=======
.header {
    background-image: url(../img/CLIFFORD+copy.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
    
    
>>>>>>> origin/master
}